@import 'normalize.css';

// hơi lâu khi chảy script bên react mới chảy
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');


:root {
    --primary: #fe2c55;
}



*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
};

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;

    // tối ưu để hiện thị nhanh nhất
    text-rendering: optimizeSpeed;
};
